.homeNaveBar .active {
    color: var(--color-black);
    font-weight: var(--font-weight-600);
    position: relative;
}

.homeNaveBar .active {
    transition: .2s ease-in-out;
}

.homeNaveBar .active:after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translate(-50%);    
    width: 30%; 
    border-bottom: 4px solid var(--color-primary);
    border-radius: 1rem;
}