.modalContainer {
    max-width: 40rem !important;
    height: 90vh !important;
    overflow-x: hidden;
}

.headerItems {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    gap: 2rem;
    margin-bottom: 1rem;

}

.title p {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-600);
}

.arrowLeftIcon {
    margin-top: 0.7rem;
}

.contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.modalContent {
    padding: 0 0 0 3.8rem;
}

.buttons {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.declineBtn, .acceptBtn {
    width: 5rem;
    border: 0;
    border-radius: 50px;
    font-weight: var(--font-weight-400);
    text-decoration: none;
    text-align: center;
    display: block;
    font-family: 'lato', sans-serif;
    transition: .15s ease-in-out;
    cursor: pointer;
}

.declineBtn {
    color: var(--color-error);
    border: 0.5px solid var(--color-error);
}

.declineBtn:hover {
    background-color: var(--color-error-light);
    
}

.acceptBtn {
    border: 0.5px solid var(--color-green);
    color: var(--color-green);
}

.acceptBtn:hover {
    background-color: var(--color-primary-lighter);
}