/* duplic -> following.module.csss */
.main {
    width: 100%;
}

.userInfoWrapper {
    display: flex;
    justify-content: space-between;
}

.followingItem {
    padding: 0 1rem 0.5rem 1rem ;
    border-bottom: 1px solid var(--color-secondary-light);
}

.followingItem:hover {
    background: var(--color-secondary-lighter);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
