.app {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-style: normal;  
    color: rgb(47, 47, 47);
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 22rem;
    border-right-color: var(--color-secondary-light);
    border-style: solid;
    border-width: 0 1px 0 0;
}

.page {
    margin-left: 22rem;
}
