/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* color */
    --color-primary: #1da1f2;
    --color-secondary: #657786;
    --color-white: #ffffff;
    --color-black: #000000;

    /* color hover */
    --color-primary-darker: #0d8cce;
    --color-secondary-light: #E1E8ED;
    --color-secondary-lighter: #f2f4f6;
    --color-black-lighter: #282828;

    /* font-size */
    --font-size-xlg: 1.5rem;
    --font-size-lg: 1.2rem;
    --font-size-md: 1rem;
    --font-size-sm: 0.8rem;

    --font-size-btn-sm: 1rem;

    /* font-weight */
    --font-weight-700: 800;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;
    --font-weight-300: 400;
    
    /* border */
    --border-light: 0.5px solid var(--color-secondary);

    /* border-round */
    --border-round: 4rem;

}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: 400;
}

button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Remove default margin and padding */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Set font properties */
body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Remove list styles */
ol,
ul {
    list-style: none;
}

/* Remove hyperlink styles */
a {
    text-decoration: none;
    color: inherit;
}

/* Set default background and text color */
body {
    background-color: #fff;
    color: #333;
}
