/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* color */
    --color-primary: #1da1f2;
    --color-secondary: #657786;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-pink: #F91980;
    --color-error: #fb3b1e;
    --color-green: #27bb6a;
    

    /* color hover */
    --color-primary-darker: #0d8cce;
    --color-primary-light: #8ac7e8;
    --color-primary-lighter: rgb(225, 242, 252);
    --color-secondary-light: #e1e8ed;
    --color-secondary-dark: #ccd6dd57;
    --color-secondary-lighter: #f2f4f6;
    --color-black-light: #2b2b2b;
    --color-black-lighter: #484848;
    --color-pink-lighter: #f9198115;
    --color-green-lighter: #edfef3; 
    --color-error-light: #ffece9;

    /* color transparent */
    --color-black-transparent: #0000008a;

    /* color transparent hoeever */
    --color-black-transparent-hover: #626262ad;


    /* button color */
    --color-btn-disabled: #7accff;

    /* font-size */

    --font-size-2xl: 2rem;
    --font-size-1xl: 1.6rem;
    --font-size-xl: 1.5rem;
    --font-size-lg: 1.2rem;
    --font-size-md: 1rem;
    --font-size-ms: 0.9rem;
    --font-size-sm: 0.8rem;
    --font-size-xs: 0.7rem;

    --font-size-btn-sm: 1rem;

    /* font-weight */
    --font-weight-800: 600;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;
    --font-weight-300: 400;
    
    /* border */
    --border-color: #ececec;
    --border-light: 1px solid var(--border-color);

    /* border-round */
    --border-round: 4rem;
}

/* for dark mode */

/* * {
    background: rgb(42, 42, 42);
    color: white !important;
} */
/* Remove default margin and padding */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Set font properties */
body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

/* Remove list styles */
ol,
ul {
    list-style: none;
}

/* Remove hyperlink styles */
a {
    text-decoration: none;
    color: inherit;
}

/* Set default background and text color */
body {
    background-color: #fff;
    color: #333;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: 400;
}

button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
