
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 22rem;
    border-right-color: var(--color-secondary-light);
    border-style: solid;
    border-width: 0 1px 0 0;
}

.page {
    margin-left: 22rem;
}

.mainSectionContainer {
    display: grid;
    grid-template-columns: 1.9fr 1.5fr;
    gap: 2rem;
    height: 100vh;
}

.mainSectionMessageContainer, .mainSectionSettings {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 90%;
    height: 100vh;
}

.mainSection {
    position: relative;
    float: right;
    overflow-y: scroll;
    height: 100%;
    border-color: var(--color-secondary-light);    
    border-style: solid;
    border-width: 0 1px 0 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.aside {
    width: 73%;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
/* 1440px laptop */

/* form bigger sceens */
@media (min-width: 1441px) {
    .navigation {
        width: 21rem;
        left: 14rem;
    }

    .page {
        margin-left: 35rem;
    }
    
    .mainSectionContainer {
        display: grid;
        grid-template-columns: 1.9fr 2.3fr;
        gap: 2rem;
        height: 100vh;
    }

    .mainSectionMessageContainer, .mainSectionSettings {
        width: 70%;
        grid-template-columns: 1fr 1.5fr;
    }

    .aside {
        width: 95%;
    }

    .aside input {
        width: 50%;
    }
}