
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 22rem;
    border-right-color: var(--color-secondary-light);
    border-style: solid;
    border-width: 0 1px 0 0;
}

.page {
    margin-left: 22rem;
}

.mainSectionContainer
{
    display: grid;
    grid-template-columns: 1.9fr 1.5fr;
    gap: 2rem;
    height: 100vh;
}

.mainSectionMessageContainer, .mainSectionSettings {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 100vh;
    
}

.mainSection {
    position: relative;
    float: right;
    overflow-y: scroll;
    height: 100%;
    border-color: var(--color-secondary-light);    
    border-style: solid;
    border-width: 0 1px 0 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* @media only screen and (min-width: 1440px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 13rem;
        height: 100%;
        width: 22rem;
        border-right-color: var(--color-secondary-light);
        border-style: solid;
        border-width: 0 1px 0 0;
    }
    .page {
        margin-right: 22rem;
        position: relative;
        left: 13rem;
    }
    
    .mainSectionContainer,
    .mainSectionMessageContainer 
    {
        display: grid;
        grid-template-columns: 1.9fr 1.5fr;
    }
} */