.faUserCheck {
    padding: 0.8rem 0.7rem;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.medium {
    padding: 0.5rem 0.4rem;
    font-size: 1rem;
}

.small {
    font-size: 0.5rem;
    padding: 0.3rem 0.3rem;
}