.container {
    height: 100%;
    padding-left: 5rem;
}

.logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.naviItems {
    margin-bottom: 1rem;
}

.userInfo {
    margin-top: 6rem;
}

.bookmarks svg {
    font-size: 23px;
}

.ellipsis svg {
    font-size: 23px;
}

.faHome, .faHashTag, .faCircleEllipsis {
    gap: 1.2rem;
    width: fit-content;
    cursor: pointer;
    padding: 0 1rem 0 1rem;
    position: relative;
    right: 1rem;
}

.faHome:hover, .faHashTag:hover, .faCircleEllipsis:hover  {
    background: var(--color-secondary-light);
    border-radius: var(--border-round);
}

.faHome img, .faHashTag img, .faCircleEllipsis img {
    width: 2rem;
    height: 3.5rem;
}

.faHashTag {
    gap: 1.2rem;
}

.faCircleEllipsis {
    gap: 1.1rem;
}

.faCircleEllipsis, .faHashTag, .faHome {
    display: flex;
    align-items: center;

    margin-left: 0.8rem;
    cursor: pointer;
}

.active h2 {
    font-weight: var(--font-weight-800);
}

