.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 0.7rem 1rem;
    width: fit-content;
}

.container:hover {
    background: var(--color-secondary-light);
    border-radius: var(--border-round);
    cursor: pointer;
}