.container {
    height: 100%;
    padding-left: 5rem;
}

.logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.naviItems {
    margin-bottom: 1rem;
}

.userInfo {
    margin-top: 6rem;
}

.bookmarks svg {
    font-size: 23px;
}

.ellipsis svg {
    font-size: 23px;
}

.faCircleEllipsis {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 0.8rem;
    font-size: 22px !important;
    cursor: pointer;
}

.active h2 {
    font-weight: var(--font-weight-800);
}

