.container {
    width: 100%;
    margin: 1rem;
}
.formControl {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 15rem;
}

.btn {
    margin-top: 0.5rem;
    background: black;
    color: white;
}