.imageAuthUserContainer {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.authUser {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    width: 100%;
    justify-content: flex-end;
}

.authUser,
.textStatus {
    align-self: flex-end;
}

.imageAuthUser img {
    float: right;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    align-self: flex-end;
}

.textStatusAndTimeAuthUser {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.textStatusAndTimeAuthUser,
.textStatusAndTimeAuthUserNoImage {
    font-size: var(--font-size-sm);
    color: var(--color-secondary);
}

.threeDotsWithImage {
    position: absolute;
    left: 8.5rem;
    cursor: pointer;
    z-index: 1;
}

.threeDots {
    position: relative;
    top: -1rem;
}

.popUpBoxWithImage {
    width: 11.6rem;
    top: 0rem;
    left: -1.1rem;
}

.popUpBox {
    position: absolute;
    right: -2rem;
    width: 10.8rem;
    top: -6rem;

}

.popUpReply {
    z-index: 2;
}

.popUpList, .popUpListWithImage {
    padding: 0.5rem !important; 

}

.hide {
    display: none;
}

.textWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.authUserText {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 20px 20px 4px 20px;
    max-width: 25rem;
    word-wrap: break-word;
    align-self: flex-end;
}

.originalMessage {
    display: flex;
    gap: 0.7rem;
    background: var(--color-secondary-lighter);
    color: var(--color-secondary);
    font-size: var(--font-size-sm);
    text-align: right;
    padding: 0.6rem;
    width: fit-content;
    margin-left: 2rem;
    border-radius: 1rem;
    padding-bottom: 1.4rem;
    z-index: -1;
    position: relative;
    top: 1.2rem;
    float: right;
    max-width: 25rem;
}

.originalMessage img {
    width: 2rem;
    height: 2rem;
    border-radius: 0.2rem;
    margin-top: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

.replyMessage {
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;
    position: relative;
    top: 0.8rem;
    font-size: var(--font-size-xs);
    color: var(--color-secondary);
}

.replyImages img {
    width: 0.8rem;
}