.formContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--color-secondary-light);
    padding: 0.5rem 1rem;
}

.formWrapper {
    display: flex;
    align-items: center;
}

.input {
    width: 100%;
    max-height: 13.5rem;
    resize: none;
    overflow-y: auto;
    border: none;
    background: var(--color-secondary-lighter);
    border-radius: 1.5rem;
    font-family: inherit;
    font-size: var(--font-size-md);
    padding-top: 1.4rem;
    padding-left: 7rem;
    padding-right: 5rem;;
}

/* .input::placeholder {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  padding-left: 1rem;
  color: #999999;
} */

.input:focus {
    outline: none;
}

.icons {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    margin-left: 1rem;
    padding-top: 0.4rem;
}

.btn {
    position: absolute;
    display: flex;
    right: 2rem;
    padding-top: 0.2rem;
}

.btn img {
    width: 1.2rem;
    cursor: pointer;
}

.emojiPicker {
    position: absolute;
    margin-top: -22rem;
}