.headerContainer {
    display: flex;
    flex-direction: column;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
}

/* Aside header */
.asideHeader {
    width: 100%;
    height: 3.5rem;
}

.detailIcon {
    float: right;
}

.aside {
    position: relative;
    width: 100%;
    height: 100vh; /* when many - messages remove this*/
    overflow-x: hidden;
    border-color: var(--color-secondary-light);    
    border-style: solid;
    border-width: 0 1px 0 0;
}

.active {
    border-right: 2px solid var(--color-primary);
    background: var(--color-secondary-lighter);
}

.messages {
    height: calc(100vh - 8.5rem);
    overflow-y: scroll;
}

.messagesContainer {
    height: 100%;
  }
