.container {
    position: relative;
    overflow-wrap:normal;
}

.test {
    position: absolute;
    top: 0 !important;
}

.formSection {
    position: relative;
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.modalWrapper {
    padding: 0 !important;
}

.formSection textarea {
    margin-top: 0.8rem;
}

.modalContainer {
    position: absolute !important;
    /* top: 7rem !important; */
    max-width: 37.5rem !important;
}


.classNameTextErea {
    margin-bottom: 2rem;
}