/* .faEllipsisH {
    position: absolute;
    border-radius: 50%;
    top: -0.5rem;
    right: -0.5rem;
    padding: 0.6rem;
} */

.faEllipsisH {
    border-radius: 50%;
    padding: 0.6rem;
}

.faEllipsisH:hover {
    background: rgba(143, 218, 255, 0.37);
    color: var(--color-primary);
    transition: .1s;
}