.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.title {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-600);
}

.message {
    color: var(--color-secondary);
}
