.container {
    width: 90%;
    background: var(--color-secondary-lighter);
    /* padding: 1rem; */
    border-radius: 1rem;
}

.container h2 {
    font-weight: var(--font-weight-600);
    padding: 0.5rem 1rem;
}

.userInfo {
    padding-left: 1rem;
}

.userInfo:hover {
    background: var(--color-secondary-light);
    cursor: pointer;
}