.textarea {
    border: none;
    resize: none;
    width: 100%;
    font-family: inherit;
    font-size: var(--font-size-lg);
}

.textarea:focus {
    outline: none;
}

.textarea::placeholder {
    color: var(--color-secondary);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.icons {
    display: flex;
    gap: 1rem;
}