.container {
    width: 100%;
}

.textAreaWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea {
    border: none !important;
    resize: none !important;
    width: 100%;
    font-family: inherit;
    font-size: var(--font-size-lg);
    padding-left: 1rem;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.textarea:focus {
    outline: none;
}

.textarea::placeholder {
    color: var(--color-secondary);
}

.icons {
    display: flex;
    position: relative;
}

.emojiPicker {
    position: absolute;
    top: -20rem;
    z-index: 300;
}

.emojiPickerWithPreviewImg {
    top: -7rem ;
}

.previewImage {
    position: relative;
    width: 100%;
    height: 20rem;
    padding-bottom: 2rem;
}

.previewImage img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
    object-fit: cover;
}

.cancelBtn {
    position: absolute;
    left: 0.2rem;
    top: 1.2rem;
    color: var(--color-white);
    background-color: var(--color-black-light);
}

.cancelBtn:hover {
    background-color: var(--color-black-lighter);
    transition: 0.1s ease-in-out;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.emojiPicker {
    position: relative;
    right: 8rem;
    z-index: 10000;
}

.icons {
    display: flex;
}

.searchResults {
    width: 18%;
    position: absolute;
    
    right: 2rem;
    background: var(--color-white);
    box-shadow: 0 0 0 1px rgba(15, 15, 15, 0.001), 0 8px 16px rgba(15, 15, 15, 0.4);
    border-radius: 1rem;
    overflow: hidden;
    z-index: 90;
}

.emojiPicker {
    position: relative;
    top: 0;
}