.container {
    width: 100%;
}

.textAreaWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea {
    border: none !important;
    resize: none !important;
    width: 100%;
    font-family: inherit;
    font-size: var(--font-size-lg);
    padding-left: 1rem;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.textarea:focus {
    outline: none;
}

.textarea::placeholder {
    color: var(--color-secondary);
}

.previewImage {
    position: relative;
    width: 100%;
}

.previewImage img {
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
}

.cancelBtn {
    position: absolute;
    left: 0.2rem;
    top: 1.2rem;
    color: var(--color-white);
    background-color: var(--color-black-light);
}

.cancelBtn:hover {
    background-color: var(--color-black-lighter);
    transition: 0.1s ease-in-out;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.emojiPicker {
    position: relative;
    right: 8rem;
    z-index: 10000;
}

.icons {
    display: flex;
}