.title {
    margin-left: 1rem;
}

/* Nav */
.homeNaveBar {
    margin-top: 1rem;
}

.homeNaveBar .active {
    color: var(--color-black);
    font-weight: var(--font-weight-600);
    position: relative;
}

.homeNaveBar .active {
    transition: .2s ease-in-out;
}

.homeNaveBar .active:after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translate(-50%);    
    width: 30%; 
    border-bottom: 4px solid var(--color-primary);
    border-radius: 1rem;
}

/* make this a component - tweet from and move this css code */
.formSection {
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid var(--color-secondary-light);
    
}
.formSection textarea {
    margin-top: 0.7rem;
}

.headerItems {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    font-weight: var(--font-weight-500);
}

.forYou, .following {
    width: 100%;
    padding: 0.5rem;
}
.forYou:hover, .following:hover {
    background: var(--color-secondary-light);
    cursor: pointer;
}