.container {
    padding-top: 0.6rem;
}

.title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-600);
}

.isProtectedTitle {
    display: flex;
    align-items: center;
}

.isProtectedTitle img {
    width: 2rem;
    height: 1rem;
}

.subtitle {
    font-size: var(--font-size-sm);
    color: var(--color-secondary);
    margin-bottom: 0.5rem;
}
