.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.title {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-600);
}

.message {
    color: var(--color-secondary)
}