.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.container .title, .container .message {
    width: 60%;
}

.title {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-600);
}

.message {
    color: var(--color-secondary)
}