.container {
    position: relative;
    /* z-index: 10; */

}

.menuBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menuList {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 0 1px rgba(15, 15, 15, 0.1), 0 8px 16px rgba(15, 15, 15, 0.1);
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 15rem;
    z-index: 2000;
    pointer-events: auto;
    overflow: hidden;
    padding: 0 !important;
}

.menuItemList {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #1c2938;
    cursor: pointer;
    font-weight: var(--font-weight-400);
    line-height: 1.5rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.1s ease-out;
}

.menuItemList:hover {
    background-color: var(--color-secondary-light);
}

.popUpWithTitle {
    display: flex;
    flex-direction: column;
    color: var(--color-black);
    padding: 1rem 0rem;
}

.popUpWithTitle .menuItemList {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-600);
}
.popUpWithTitle h1 {
    padding-left: 0.7rem;
}
.popUpWithTitle .menuItemList {
    padding: 1rem;
    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: transparent;

}

.delete {
    color: red;
}

.editTwitterCircle {
    position: absolute;
    display: flex;
    bottom: 1rem;
    left: 4.6rem;
    gap: 0.9rem;
    font-size: var(--font-size-ms);
}
.editTwitterCircle p {
    color: var(--color-secondary);
}
.editTwitterCircle span {
    color: var(--color-black);
}
.editTwitterCircle div {
    text-decoration: underline;
}

.test:nth-child(3) svg {
    position: relative;
    top: 0.8rem;
}

.test:nth-child(3) {
    position: relative;
    bottom: 0.5rem;
    padding: 0.5rem 1.5rem 2rem 1rem;
}