.container {
    display: flex;
    /* justify-content: space-evenly; */
}
.containerOnTweetReply {
    margin-left: 2rem;
}
.retweetPopUp {
    position: absolute;
    bottom: 6.5rem;
    left: 10rem;
}
.item {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding-left: 3rem;
    color: var(--color-secondary);
    
}
.itemOnTweetReply {
    padding-left: 1rem;
}
.item p {
    font-size: .8rem;
}

.liked {
    color: var(--color-error);
}

.faComment,
.faRepeat,
.faHeart,
.faChartSimple,
.faArrowUpFromBracket {
    padding: 0.7rem 0.7rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.faComment:hover {
    background: var(--color-primary-lighter);
    color: var(--color-primary);
}
.faRepeat:hover {
    background: var(--color-green-lighter);
    color: var(--color-green);
}
.faHeart:hover {
    background: var(--color-pink-lighter);
    color: var(--color-pink);
}
.faChartSimple:hover {
    background: var(--color-primary-lighter);
    color: var(--color-primary);
}
.faArrowUpFromBracket:hover {
    background: var(--color-primary-lighter);
    color: var(--color-primary);
}

.hoverBlue:hover {
    color: var(--color-primary);
}
.hoverGreen:hover {
    color: var(--color-green);
}

.hoverPink:hover {
    color: var(--color-pink);
}