.container {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
}

.avatar {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0.5rem;
}

.avatar img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.userWrapper {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
}   

.isProtected {
    display: flex;
    align-items: center;
}


.isProtected img {
    width: 1rem;
    height: 1rem;
}

/* userInfoOption */
.userInfoOptionWrapper {
    position: relative;
    width: 100%;
    display: flex;
    
}
.userInfoOptionWrapper .userInfo {
    display: flex;
    gap: 0.3rem;
    width: 100%;
}

/* userInfo */
.userInfo {
    min-width: 7.5rem;
}

.onHoverUser {
    padding: 0.2rem 0.6rem ;
}
.onHoverUser:hover {
    background: var(--color-secondary-light);
    cursor: pointer;
}

.name {
    font-weight: var(--font-weight-600);
}

.username {
    color: var(--color-secondary);
}

.certifiedIcon {
    position: relative;
    top: 0.2rem;
}