.container {
    width: 100%;
    background: var(--color-secondary-lighter);
    /* padding: 1rem; */
    border-radius: 1rem;
}

.container h2 {
    font-weight: var(--font-weight-600);
    padding: 0.5rem 1rem;
}

.userInfo {
    padding-left: 1rem;
}

.firstname {
    font-weight: var(--font-weight-500);
}

.userInfo:hover {
    background: var(--color-secondary-light);
    cursor: pointer;
}

/* form bigger sceens */
@media (min-width: 1441px) {
    .container {
        width: 50%;
        background: var(--color-secondary-lighter);
        /* padding: 1rem; */
        border-radius: 1rem;
    }
}