.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
}

.headerItems {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    gap: 2rem;
    margin-bottom: 1rem;

}
.title p {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-600);
}
.arrowLeftIcon {
    margin-top: 0.7rem;
}

.image {
    margin-bottom: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.footer {
    position: relative;
    bottom: 0;
    left: -2rem;
    right: 0;
    padding: 20px;
    color: #fff;
    z-index: 1;
}

.canselBtn {
    position: absolute;
    left: 1rem;
    top: 1.2rem;
    color: var(--color-white);
    background-color: var(--color-black-light);
    z-index: 1;
}

.canselBtn:hover {
    background-color: var(--color-black-lighter);
    transition: 0.1s ease-in-out;
}

/* Aside */

.aside {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: 0;
    white-space: pre-wrap;
    overflow-x: hidden;
}
.asideUpperSectionWrapper{
    padding: 0rem 1rem;
}
.text {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: var(--font-size-lg);
}

.asideContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text,
.info,
.stats,
.bookmarks {
    display: flex;
}

.info {
    color: var(--color-secondary);
}
.info p span {
    font-weight: var(--font-weight-500);
    color: var(--color-black);
}

.info,
.stats,
.icons {
    border-bottom: var(--border-light);
    padding-bottom: 1rem;
    font-size: 0.9rem;
}

.stats {
    gap: 1.5rem;
}

.stats span {
    padding-right: 0.3rem;
    font-weight: var(--font-weight-500);
    color: var(--color-black);
}
.stats p {
    color: var(--color-secondary);
}

.icons {
    display: flex;
    justify-content: space-around;
    font-size: var(--font-size-lg);
}

.faComment,
.faRepeat,
.faHeart,
.faBookmark,
.faArrowUpFromBracket {
    padding: 0.7rem 0.7rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s ease-in;
}
.faBookmark {
    font-size: 1.1rem;
    padding: 0.7rem 0.8rem !important;
}
.faArrowUpFromBracket {
    font-size: 1.1rem;
}
.faComment:hover {
    background: var(--color-primary-lighter);
    color: var(--color-primary);

}
.faRepeat:hover {
    background: var(--color-green-lighter);
    color: var(--color-green);
}
.faHeart:hover {
    background: var(--color-pink-lighter);
    color: var(--color-pink);
}
.faBookmark:hover {
    background: var(--color-primary-lighter);
    color: var(--color-primary);
}
.faArrowUpFromBracket:hover {
    background: var(--color-primary-lighter);
    color: var(--color-primary);
}

.formSection {
    display: flex;
    border-bottom: var(--border-light);
    padding-bottom: 0.5rem;
}

.whoCanReply {
    border-bottom: var(--border-light);
    padding-bottom: 1rem;
}

.replyMsgWrapper {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
  
    background: var(--color-primary-lighter);
    border-radius: 0.5rem;
    color: var(--color-black);
}

.whoCanReply p {
    font-size: var(--font-size-ms);
}

.asideReplySection:hover {
    background: var(--color-secondary-lighter);
    transition: 0.1s ease-in;
    cursor: pointer;
}