.container {
    padding: 0 1rem 1rem 1rem;
    border-top: 1px solid var(--color-secondary-light);
}

.container:hover {
    background: var(--color-secondary-lighter);
    transition: 0.1s ease-in;
    cursor: pointer;
}

.container .tweet, 
.container .image {
    margin-left: 3.7rem;
}

.userInfo {
    margin-top: -1rem;
}

.body {
    margin-top: -1.5rem;
}

.tweet {
    margin-bottom: 0.5rem;
    /* TODO: change the font-familly */
}
.coloredText {
    color: var(--color-primary);
}
.coloredText:hover {
    text-decoration: underline
}
.image {
    height: 20rem; /*Consider removing this or increasing it*/
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.twitterCircle, .tweetReply {
    display: flex;
    padding: 0.5rem 0rem 0.2rem 1rem ;
    border-radius: 0.5rem;
    font-size: var(--font-size-sm);
    margin-bottom: 1rem;
    font-weight: 400;
    color: var(--color-secondary);
}

.twitterCircle {
    background: var(--color-green-lighter);
    margin-left: 3.7rem;
}

.tweetReply {
    margin-left: 2.7rem;

}

.icon {
    font-size: 0.8rem;
    padding-right: 0.6rem;
}